VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=69af9f0700103b7f3482
VITE_APPWRITE_SAAS_DATABASE_ID=privora_saas
VITE_APPWRITE_MODEL_GATEWAY_FUNCTION_ID=model-gateway
